<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body id="abtbody">
<nav class="navbar navbar-light navbar-expand-md fixed-top bg-light">
        <div class="container"><a class="navbar-brand" href="#"><strong>TaskMan</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="newtask.html">New Task</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="currenttask.html">Your Tasks</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">About Us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">More</a></li>
                </ul>
            </div>
        </div>
    </nav>
	<h1><center>About</h1></center>
</body>
</html>
