<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top bg-light">
        <div class="container"><a class="navbar-brand" href="#"><strong>TaskMan</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">New Task</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="currenttask.html">Your Tasks</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="about.html">About Us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">More</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="promo1">
        <div class="jumbotron1">
            <h3>Add new tasks</h3>
            <form id="mainform">
                <h4>Title:</h4>
                <div class="input-group mb-3">
                    <input class="form-control" type="text" id="tasktitle" required=""></div><br>
                <h4>Description:</h4>
                <div class="field"><textarea class="form-control" name="float-textarea" style="border: 0; border-bottom: 1px solid #E0E0E0;" placeholder=" "></textarea></div><br>
                <h5>Pick a date and time:</h5><input id="datepic" class="form-control" type="date"><br>
                <input type="submit" name="tsksub" value="Submit">
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>